@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @media (max-width: 1000px) {
  .cardContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
} */

/* @media (max-width: 1300px) {
  .small-main {
    margin-top: 240px;
    margin-left: -180px;
  }
}

@media (max-width: 400px) {
  .small-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
  }
  .main-title-text {
    font-size: 20px;
    margin-top: -10px;
  }
  .main-text {
    margin-top: 1px;
  }
} */
