@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  background-color: #fdfbf7;
}

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InkLipquid";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2020A";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothicA1-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 메인화면 반응형 */
@media (max-width: 1150px) {
  .small-main {
    margin-right: -400px;
    padding-left: 50px;
  }
}

@media (max-width: 850px) {
  .small-main {
    margin-right: -930px;
  }
}

@media (max-width: 500px) {
  .mainImg {
    height: 50%;
  }

  .small-main {
    margin-right: -400px;
    margin-top: 50px;
    padding-right: 20px;
  }

  .mainBg {
    width: 400px;
    min-width: 400px;
  }
  .cardImg {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
  }
  body {
    font-size: 13px;
  }

  .cardHeight {
    height: 40px;
  }

  .bookTitle {
    font-size: 17px;
  }

  .dateAndName {
    font-size: 11px;
  }

  .filter {
    margin-right: 15px;
    margin-top: 30px;
  }

  .myPage div {
    font-size: 13px;
  }
  .myPage p {
    font-size: 13px;
  }
  .myPage span {
    font-size: 13px;
  }
  .myPageNav {
    min-width: 100px;
  }
  .showMyPage {
    margin-left: 5px;
  }

  .loginModal {
    width: 300px;
    height: 400px;
  }

  .closeIcon {
    margin-left: 260px;
  }

  .bookImg {
    margin-top: 10px;
  }

  .createAnAccount {
    margin-top: 20px;
  }

  .signUp {
    width: 300px;
    height: 400px;
  }

  .signUp .mb-24 {
    margin-bottom: 60px;
  }

  .searchBoxInput {
    width: 350px;
    font-size: 20px;
  }

  .searchResult {
    margin-top: 40px;
  }
}

/* @media (max-width: 1000px) {
  .cardContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
} */

/* @media (max-width: 1300px) {
  .small-main {
    margin-top: 240px;
    margin-left: -180px;
  }
}

@media (max-width: 400px) {
  .small-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
  }
  .main-title-text {
    font-size: 20px;
    margin-top: -10px;
  }
  .main-text {
    margin-top: 1px;
  }
} */
